<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="datasource" value="localhost\SQLEXPRESS" />
    <add key="database" value="DBAkademik" />
    <add key="userid" value="x4z6YZufsEaix1arSLU9Tg==" />
    <add key="password" value="qPKd15GHt1o0YlqWEmG9LA==" />
  </appSettings>

</configuration>